.custom-select {
  position: relative;
  color: #fff;
}

select {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;

  margin: 0 10px 0 0;
  color: #ec6f66;
  width: auto;
  padding: 10px;
  height: 10px;
  cursor: pointer;
  background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px
    no-repeat;

  @media (max-width: 720px) {
    right: 27%;
  }
}

select option {
  background-color: white;
  color: gray;
  width: 310px;
  padding: 10px 15px;
  height: 20px;
  cursor: pointer;
}

select option:hover {
  padding-left: 25px;
  width: 270px;
  color: #ec6f66;
}

.en {
  background-image: url('./en.png');
}

.pt {
  background-image: url('./pt.png');
}
