.select {
  display: flex;

  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 25px;
  transition: background-image 0.3s ease-in-out;
  margin-top: 20px;
  margin-right: 20px;

  appearance: none;
  color: transparent;
}

.option {
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  color: #000000;

  height: 50px;
  padding: 15px;
}

.option:hover {
  color: #b596e5;
}

.custom-select {
  position: relative;
}

.en {
  background-image: url('./en.png');
}

.pt {
  background-image: url('./pt.png');
}
